html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}


/* ==========================================================================
   Utilities Class
   ========================================================================== */

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}


/* ==========================================================================
   Layout Class
   ========================================================================== */

#root {
    width: 100%;
}

.component-app {
    overflow: hidden
}


/* Header
   ========================================================================== */

.component-header {
    color: #ffffff;
    padding-top: 15px;
    font-size: 14px;
    position: relative
}

.component-header .title {
    text-transform: uppercase;
}

.component-header .icon-menu,
.component-header .icon-search {
    position: absolute;
    width: 20px;
    height: 20px;
}

.component-header .icon-menu {
    left: 15px;
    top: -3px
}

.component-header .icon-search {
    right: 15px;
    top: -1px
}


/* Summary
   ========================================================================== */

.component-summary {
    margin-top: 25px;
    padding-left: 20px
}

.component-summary .avatar {
    background-color: #ffffff;
    padding: 5px
}

.component-summary h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 12px 0 8px;
    padding: 0;
    color: #ffffff
}

.component-summary .desc {
    font-size: 12px;
    opacity: 0.6
}

.component-summary .date {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 12px
}


/* Category
   ========================================================================== */

.component-category {
    background-color: #ffffff;
    color: #333333;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px !important;
}

.component-category .MuiCardContent-root-32 {
    padding-bottom: 16px !important
}

.component-category .icon-category {
    position: absolute;
    left: 15px;
    top: 16px;
    color: #3f51b5;
    border: 1px solid #eeeeee;
    padding: 4px 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px
}

.component-category .icon-vertical {
    position: absolute;
    right: 8px;
    top: 16px;
    color: #cccccc;
}

.component-category .cat-space {
    min-height: 200px
}

.component-category .numb-task {
    color: #999999;
    font-size: 14px;
    font-family: inherit
}

.component-category .title-task {
    font-family: inherit;
    font-weight: bold
}

.component-category h1 {
    margin: 0 0 5px 0;
    padding: 0;
}

.progress-bar {
    height: 1px !important;
    background-color: #F2F2F2 !important;
}

.progress-bar-label {
    position: relative;
    padding-right: 40px
}

.progress-bar-label .text {
    font-size: 10px;
    color: #cccccc;
    position: absolute;
    top: -6px;
    right: 15px
}


/* List Todos
   ========================================================================== */

.component-category-view {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
}

.btnBack,
.btnMoreIcon {
    position: absolute;
    color: #6D6D6D;
    width: 16px !important;
    height: 16px !important
}

.iconBack, .iconMore {
    color: #6D6D6D;
    width: 16px !important;
    height: 16px !important
}

.component-category-view .btnBack {
    left: 0;
    top: 5px;
    box-shadow: none;
    background-color: transparent;
}

.component-category-view .btnMoreIcon {
    right: 0;
    top: 15px;
    position: absolute !important
}

.component-category-view .btnAdd {
    background-color: #3f51b5 !important;
    position: fixed !important;
    bottom: 30px;
    right: 20px;
    width: 42px !important;
    height: 42px !important;
}

.iconAdd {
    width: 18px !important;
    height: 18px !important
}

.todo {
    padding: 0 !important;
}

.todo .MuiIconButton-root-120x {
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #aaaaaa
}

.todo .MuiListItemText-root-129x {
    padding: 0;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 12px;
    padding-top: 14px;
    color: #333333;
    font-size: 12px
}

.todo h3 {
    font-family: inherit
}

.component-category-view .component-cat-overview {
    padding: 0 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.component-category-view .component-cat-overview .cat-space { min-height: 20px }

.component-category-view .component-cat-overview .icon-category {
    color: #3f51b5;
    border: 1px solid #eeeeee;
    padding: 4px 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px
}

.component-category-view .component-cat-overview .numb-task {
    font-size: 12px;
    color: #999999;
    font-family: inherit
}
.component-category-view .component-cat-overview .title-task {
    font-family: inherit;
    margin-bottom: 10px;
    font-weight: bold;
}


/* Add Todo
   ========================================================================== */

.component-add-todo {
    width: 100%;
    position: relative
}

.component-add-todo .btnClose {
    position: absolute;
    left: 0;
    top: 18px;
    width: 14px;
    height: 14px;
}

.component-add-todo .title-task {
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold
}

.component-add-todo .btnAdd {
    background-color: #3f51b5 !important;
    color: #ffffff !important;
    width: 100% !important;
    position: fixed !important;
    left: 0;
    bottom: 0;
    border-radius: 0 !important;
    padding: 15px 20px !important
}

.component-add-todo .txt-task {
    margin-top: 0;
}

.component-add-todo .txt-task input {
    font-family: "Quicksand"
}

.component-add-todo .title-text {
    color: #999999;
    font-size: 12px;
    font-family: inherit;
    margin-top: 30px
}

.MuiInput-inkbar-32:after {
    background-color: #3f51b5 !important
}

.MuiInput-underline-38:before {
    background-color: #cccccc !important
}